In [56]:
import pandas as pd

df= pd.read_csv('D:/dl/test.csv')
df.dropna(how='all')

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,92.0,220.0,14.0,0.0,0.0,0.0,0.0,143.0,91.0,2.1685
1,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,92.0,195.0,58.0,NaN,NaN,0.0,NaN,143.0,133.0,1.8029
2,1003000167,ESCOBAR,JULIO,E,DDS,M,I,5 PINE CONE RD,NaN,DAYTON,...,17.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.0598
3,1003000175,REYES-VASQUEZ,BELINDA,NaN,D.D.S.,F,I,322 N AZUSA AVE STE 202,NaN,LA PUENTE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1003000282,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,4.5148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1902149081,KOCH,CHRISTINA,L,M.D.,F,I,22 S GREENE ST,ROOM N3E09,BALTIMORE,...,19.0,NaN,34.0,NaN,0.0,0.0,0.0,37.0,16.0,1.6258
1048571,1902149099,RAMAY,FARIHA,H,M.D.,F,I,"22 S. GREENE STREET, ROOM N3E09",NaN,BALTIMORE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,1902149123,BLYTHE,KEVIN,N,MD,M,I,6746 CHARLOTTE PIKE,NaN,NASHVILLE,...,22.0,40.0,NaN,NaN,0.0,0.0,0.0,31.0,31.0,1.9478
1048573,1902149149,OYEDEJI,CHARITY,I,MD,F,I,40 DUKE MEDICINE CIR # 2N,NaN,DURHAM,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,2.1365
1048574,1902149198,JOFFRION,CINDY,G,NaN,F,I,3200 W EULESS BLVD,NaN,EULESS,...,116.0,175.0,61.0,NaN,48.0,0.0,NaN,157.0,147.0,1.4225

In [55]:
d=df[['bene_count','npi']].groupby(['npi']).mean()

d[d.bene_count> 10]
d.dropna(axis='columns')
d.to_csv('D:/dl/d.csv')

In [21]:
av

npi
1003000126    234.0
1003000142    276.0
1003000167     33.0
1003000175      NaN
1003000282     11.0
              ...
1902149081     53.0
1902149099      NaN
1902149123     62.0
1902149149     21.0
1902149198    304.0
Name: bene_count, Length: 1048575, dtype: float64